.timer {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);

    width: 68px;
    height: 68px;
    background-image: url(/img/game/timer-back.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.timer-text {
    font-size: 18px;
    color: black;

    display: inline-block;

    text-align: center;
    width: 68px;
    height: 68px;
    line-height: 68px;
    vertical-align: middle;
}

.danger-timer .timer-text {
    color: red;
}

.ringing-timer {
    animation: shake 0.2s;
    animation-iteration-count: 5; 
}

@keyframes shake {
    0% { transform: translate(1px, calc(-50% + 1px)) rotate(0deg); }
    10% { transform: translate(-1px, calc(-50% + -2px)) rotate(-1deg); }
    20% { transform: translate(-3px, calc(-50% + 0px)) rotate(1deg); }
    30% { transform: translate(3px, calc(-50% + 2px)) rotate(0deg); }
    40% { transform: translate(1px, calc(-50% + -1px)) rotate(1deg); }
    50% { transform: translate(-1px, calc(-50% + 2px)) rotate(-1deg); }
    60% { transform: translate(-3px, calc(-50% + 1px)) rotate(0deg); }
    70% { transform: translate(3px, calc(-50% + 1px)) rotate(-1deg); }
    80% { transform: translate(-1px, calc(-50% + -1px)) rotate(1deg); }
    90% { transform: translate(1px, calc(-50% + 2px)) rotate(0deg); }
    100% { transform: translate(1px, calc(-50% + -2px)) rotate(-1deg); }
}
